<style type="text/css">
  .red{
    color: red;
    font-size: 20;
    font-weight: bold;
  }
</style>
<div class="container">

  <div class="row">
    
    <div class="col-sm">
      <img [src]="image" alt="Marvel characters" [width]="imgWidth" [height]="imgHeight" />
    </div>
    
    <div class="col-sm">
      <h1 [ngStyle]="styles">Superheros are ready to save the world!!</h1>
      <button [disabled]="isDisabled" [ngClass]="'btn btn-primary'">Disabled button</button>
      <p [style.color]="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta delectus, natus ad
        nesciunt
        reiciendis aliquid dolore adipisci quasi, obcaecati enim, molestias ab neque
        laudantium dolorem atque deleniti aspernatur veniam hic.</p>
    </div>
    
    <div class="col-sm">
      <h1 [style.color]="color">Let's make a peace</h1>
      <img [alt]="animal.name" [src]="animal.image" width="400" height="300" />
      <p [ngClass]="'first second'">This a sample text</p>
      <p [ngClass]="val > 10 ? 'red' : 'green'">{{ val }}</p>
    </div>
  
  </div>


</div>